/* delete later */

.reference {
  width: 65%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  position: absolute;
}

/* admin stuff */

figure {
  margin: 0 auto;
  padding: 0;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '';
}

details[open] > summary::before {
  content: '';
}

/* what i'm trying to do */

.open_close {
    position: relative;
    z-index: 10;
    display: block;
    margin: 20px auto;
    color: red;
}

.open_close > summary {
    position: absolute;
}

.container {
    background: #00ff0033;
    width: 370px;
    height: 255px;
    position: relative;
}

.main_body {
    position: absolute;
    top: 35px;
    left: 14px;
    width: 340px;
    height: 195px;
    background: pink;
}

.accessories {
    z-index: 8;
}

.accessories.top {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 340px;
    height: 21px;
    background: #ff000088;
}

.accessories.bottom {
    position: absolute;
    bottom: 14px;
    left: 14px;
    width: 340px;
    height: 11px;
    background: #ff000088;
}

.border_top {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 354px;
    height: 27px;
    background: #0000ff88;
}

.border_bottom {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 354px;
    height: 16px;
    background: #0000ff88;
}

.border_left {
    position: absolute;
    bottom: 21px;
    left: 7px;
    height: 203px;
    width: 10px;
    background: #ffff0088;
}

.border_right {
    position: absolute;
    bottom: 5px;
    right: 2px;
    height: 240px;
    width: 10px;
    background: #ffff0088;
}